@import 'compass/css3';

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.header {
    width: 1500px;
    height: 120px;
    background-color: rgb(68, 119, 153);
    color: white;
    margin: 0 auto;
    position: relative;
}
.banner {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.logo {
    width: 450px;
    font-size: 36px;
    line-height: 120px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgb(51, 68, 51);
    display: inline-block;
}   
.nav-bar {
    width: 448px;
    display:inline-block;
    position: absolute;
    right: 160px;
    margin-top: 92px;
}
.nav-bar li {
    font-size: 16px;
    display: inline-block;
    margin-right: 8px;
    //border-right: 1px solid white;
    padding-right: 10px;
}
.nav-bar li:hover {
    color: rgb(51, 68, 51);
}


//Registration Form  Begins//
.registrationForm {
    width: 300px;
    height: 780px;
    margin: 40px auto;         
    background-color: rgb(170, 204, 204);
    display: hidden;
}
.input-instructions {
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 18px;
    padding-top: 10px;
}
.input-name, .input-mailAddress, .input-city, .input-state, .input-zipCode,
.input-email, .input-vehicleYear, .input-vehicleMake, .input-vehicleModel, .shirtSize, .photo {
    font-size: 18px;
    margin-left: 8px;
}
.name, .mailAddress, .city, .state, .zipCode, .email, 
.vehicleYear, .vehicleMake, .vehicleModel {
    width: 278px;
    height: 26px;
    margin-left: 8px;
    font-size: 18px;
    box-shadow: inset 0 1px 2px black;
}
.sizeSelect {
    margin-left: 8px;
    margin-top: 8px;
}
.city {
    width: 160px;
}
 .state {
    width: 34px;
}
 .zipCode {
    width: 100px;
}
 .vehicleYear {
    width: 100px;
}
.submit-button {
    margin-top: 8px;
    margin-left: 8px;
}
//.registration-submit {
//    width: 100px;
//    height: 30px;
//    border-radius: 20px;
//    font-size: 18px;
//    line-height: 30px;
//    text-align: center;
//    box-shadow: 1px 1px 1px black;
//    margin-top: 12px;
//    margin-left: 190px;  
//    background-color: rgb(136, 170, 170);
//}
//PreRegistered Users Begin//
.announce-participants {
    font-size: 32px;
    font-weight: 600px;
    margin-top: 40px;
    color: rgb(107, 49, 51);
    text-align: center;
}
.registered-users {
    width: 960px;
    position: relative;
    margin: 0 auto;
    z-index: 0;
}
.new-register {
    width: 316px;
    height: 250px;
    font-family: open sans;
    margin-top: 60px;
    display: inline-block;
}
.reg-vehicle-info {
    margin: 0 auto;
    position: relative;
}
.reg-name {
    font-size: 20px;
}

.reg-year, .reg-make, .reg-model {
    display: inline-block;
    font-size: 20px;
}
.car-image {
    width: 280px;
    height: 200px;
    box-shadow: 2px 2px 2px rgb(38, 38, 38);
}
//PreRegistered Users Ends//













